{% extends 'base.html.twig' %}
{# {% block title %}#{{ recipe.id }} {{recipe.slug}}{% endblock %} #}
{% block title %}{{ "#"~ recipe.id ~" "~ recipe.slug}}{% endblock %}
{% block body %}
<div class = "row">
    <div  align = "center" class= "col-md-6 mx-auto">
        <article>
            <h1> {{ recipe.title |title }}</h1>
            <br>
            {# <img style="max-width: 500px;" class="bd-placeholder-img" src={{recipe.imageName}}> #}
                        <img style="max-width: 500px;" src={{vich_uploader_asset(recipe, 'imageFile')}}>
            <p>Recette créée par {{ recipe.user.firstname }} {{ recipe.user.lastname }}</p>
            <br>
            <h5>{{ recipe.content | nl2br }}</h5>
        </article>
        <br>
        <small>Submitted {{ recipe.createdAt | date ("d/m/Y") }}</small>
        <br>
        <small>Updated {{ recipe.updatedAt | date ("d/m/Y H:i") }}</small>
        <br><br>
        {# version compliqué avec formulaire pour le delete #}
        {# <a class="btn btn-primary btn-sm" href={{ path('app_recipe_edit', {id: recipe.id}) }}>Edit Recipe</a>
        <a class="btn btn-danger btn-sm" href="#" onclick="event.preventDefault(); confirm('Are you sure you want to delete this recipe ?') && document.getElementById('js-recipe-delete-form').submit();">Delete</a>
        <a class="btn btn-secondary btn-sm" href={{ path('app_recipe_index') }}>Go Back</a>
        <form id="js-recipe-delete-form" action={{ path('app_recipe_delete', {id: recipe.id}) }} method="post" style="display:none;"></form> #}

        {# version simple sans formulaire pour le delete #}
        {% if app.user and app.user.isVerified %}
                {% if app.user is same as recipe.user %}
                    <a class="btn btn-primary btn-sm" href={{ path('app_recipe_edit', {id: recipe.id}) }}>Edit Recipe</a>
                    <a class= "btn btn-danger btn-sm" href={{ path('app_recipe_delete', {id: recipe.id}) }} onclick="return confirm('Are you sure you want to delete this recipe?')">Delete</a>
                {% endif %}
        {% endif %}
        <a class="btn btn-secondary btn-sm" href={{ path('app_recipe_index') }}>Go Back</a>



{# <p>Recette créée par {{ user.firstname ~" "~ user.lastname }}</p> #}
{# {{ dump(user) }} #}
{# {{ dump(app.current_route) }} #}
    </div>
    <div class="mt-5">
        <h2 class="text-2xl mb-8">Commentaire(s)</h2>
        <div class="comments">
            {% if app.user and app.user.isVerified %}
                <div class="comments__new">
                    <div class="m-full-width">
                        {{ form_start(form) }}
                        {{form_label(form.content, 'Nouveau commentaire', {'attr': {'class' : 'form-label inline-block mb-2 text-gray-700'}}) }}
                        {{form_widget(form.content, {'attr': {'class': 'form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-grey-300 rounded transition ease-in-out n-0 focus:text-gray-700 focus:bg-white focus:boder-blue-600 focus:outline-none'}}) }}
                        <button class="btn btn-primary inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md gover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out flex items-center mt-5" type="submit">Poster commentaire</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            {% endif %}
            <hr class='my-3'>
            
            {% for comment in recipe.comments %}
                {{ include('layouts/partials/_comment.html.twig')}}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}